# Copiez ce fichier en ".env" et remplissez avec vos vraies valeurs MongoDB Atlas
# Dans Atlas : Database > Connect > Drivers > copiez la "Connection String"
MONGO_URI=mongodb+srv://<utilisateur>:<mot_de_passe>@<cluster>.mongodb.net/?retryWrites=true&w=majority
DB_NAME=file_attente
PORT=5000
